// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --ep-menu-hover-text-color: rgb(8 47 73);
  --ep-menu-hover-bg-color: rgb(224 242 254);
  --ep-menu-active-color: rgb(8 47 73);
  --ep-menu-text-color: rgb(8 47 73);
}

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

.ep-button + .ep-button {
  margin-left: 0;
}

.ep-select {
  width: 95%;
}